<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Create Post</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Create a New Post</h1>
        </div>
    </header>
    <div class="container">
        <form method="POST">
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="content" placeholder="Content" required></textarea>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</body>
</html>
